* { box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f0f0ff;
}

/*ESTILO INDEX*/
.container {
    max-width: 1024px;
}

.container-top {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
}

.container-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    margin: 0 40px 0 0;
    font-size: 24px;
    text-decoration: none;
    color: #3d3d3d;
}

.title span {
    color: #e6e600;
}

.link {
    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    padding: 0px 15px 10px 15px;
    color: #3d3d3d;
}

.link:hover {
    border-bottom: 3px solid #e6e600;
}

.container-title {
    background-image: url('../assets/KKKK.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description-title {
    color: #fff;
    font-size: 28px;
    background-color: #0a9077b3;
    height: 200px;
    padding: 0 60px 20px 60px;
    border-radius: 4px;
    text-align: center;
    line-height: 1ch;
}

.rooms {
    display: flex;
    justify-content: space-between; 
}
.room {
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00836a;
    text-decoration: none;
    color: #3d3d3d;
}

.room a {
    text-decoration: none;
    color:#333;
}

.room a p {
    text-align: center;
}

.room:last-child {
    margin-right: 0px;
}

.limitate-content {
    max-width: 1024px;
    margin: 0 auto;
}

.box-title {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

.box-title h2 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}

.img {
    width: 100%;
}

.descriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.description {
    display: flex;
    width: 45%;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.description-img {
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-left: 10px;
}

.footer-copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #3b7863;
    color: #fff;
    font-weight: 600;
    width: 100%;
}

.footer {
    background-color: #49997d;
    color: #fff;
}

.footer h4 {
    font-size: 22px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-footer {
    width: 23px;
    display: flex;
    align-items: center;
}

.link-footer {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.icon-footer {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* CSS PAGINA QUARTOS.HTML */

.title-gallery {
    height: 30vh;
  }
  
  .rooms-img{
    width: 33%;
    padding-bottom: 10px;
  }
  
  .room-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .room-info li {
    width: 25%;
    text-align: left;
    margin-top: 10px;
  }

.formBusca form #buscaIndex {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: 0;
    padding: 20px;
    font-weight: 500;
}

.formBusca form #buttonBuscaIndex {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    outline: 0;
    font-weight:500;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 4px;
    
}


/*ESTILO FORMULARIO PROFISSIONAL*/

.box-form-profissional {
    
    margin: 0 auto;

    background-color: rgba(243, 243, 245, 0.705);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
}

fieldset {
    border: 2px solid rgb(227, 235, 121);
}

h1 {
    border: 1px solid rgb(227, 235, 121);
    padding: 10px;
    text-align: center;
    background-color: rgb(227, 235, 121);
    border-radius: 8px;
    color: rgb(58, 58, 3);
}

h3 {
    border: 1px solid rgb(227, 235, 121);
    padding: 10px;
    text-align: center;
    background-color: rgb(227, 235, 121);
    border-radius: 8px;
    color: rgb(58, 58, 3);
}

p {
    border: 1px solid rgb(227, 235, 121);
    padding: 10px;
    text-align: center;
    background-color: rgb(227, 235, 121);
    border-radius: 8px;
    color: rgb(58, 58, 3);    
}

.dadosProfissional {
    position: relative;
}

.input-form-profissonal {
    background-color: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none; /*retira linha externa ao escrever*/
    font-size: 15px;
    width: 100%;
    letter-spacing: 1.5px; /*espaço entre os caracter*/
}



.label-form-profissional {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none; /*qualquer lugar que eu clicar dentro do label vai realizar a animação*/
    transition: .5s;
}

#data-nasc-profissional {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-image: linear-gradient(to right, rgb(182, 207, 39), rgb(197, 219, 71));
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(160, 184, 27), rgb(182, 209, 30));
}

#areaAtuacao {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    background-color: rgb(234, 243, 182);
    color: rgb(58, 58, 3);  
}
/*Quando selecionado o input, deve ocorrer a ação no label*/
.input-form-profissonal:focus ~ .label-form-profissional,
.input-form-profissonal:valid ~ .label-form-profissional{
    top: -20px; /*faz o label subir*/
    font-size: 12px; /*no momento que o label sobe, diminui*/
    color: rgb(58, 58, 3);
}

/* FIM DO ESTILO DO FORMULARIO PROFISSIONAL*/


/* ESTILO TELA DE LOGIN */
.titulo_login{
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;

}

.titulo_login h1 p {
}
.box{
    width: 500px;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.box h1{
    color: #3498db;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: rgb(7, 5, 5);
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"],.box input[type = "email"]:focus{
    width: 380px;
    border-color: #2ecc71;


}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display:flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 50px;
    outline: none;
    color: rgb(22, 19, 19);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}

/* FIM ESTILO LOGIN */



.rodape {
    text-align: center;
}

/****************************************
********** PÁGINA RESULTADO BUSCA *******
*****************************************/

.container{
    width: 90%;
    margin: 0 auto;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.card{
    border: 1px solid #86a5ba;
    margin: 15px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;

    flex-basis: 45%;
}

.card div{
    flex-grow: 1;
    margin-bottom: 10px;
}

@media (max-width: 727px){
    .card{
        flex-basis:100%;
        margin: 15px 0;
    }
}








/********* FIM RESULTADO BUSCA *********/